<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="GlenWilkinNugets" value="https://pkgs.dev.azure.com/glenwilkin/NuGetRepository/_packaging/GlenWilkinNugets/nuget/v3/index.json" />
		<add key="Nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>