@page "/QuartzSchedules"

@using BaringsQuartzUI.Models

<div class="container" style="margin: 5rem;">
    <div class="row">
        <div class="col">
            <MudDataGrid Items="@this.quartzJobDetails">
                <Columns>
                    <HierarchyColumn T="@QuartzJobDetail" />
                    <PropertyColumn Property="x => x.JobName" Title="Name" />
                    <PropertyColumn Property="x => x.JobGroup" Title="Group" />
                    <PropertyColumn Property="x => x.Description" Title="Description" />
                    <PropertyColumn Property="x => x.JobClassName" Title="Job Class" />
                </Columns>
                <ChildRowContent>
                    <MudDataGrid Items="@context.Item.Triggers">
                        <Columns>
                            <PropertyColumn Property="x => x.ScheduleName" Title="Name" />
                            <PropertyColumn Property="x => x.JobName" Title="Job Name" />
                            <PropertyColumn Property="x => x.JobDescription" Title="Job Description" />
                            <PropertyColumn Property="x => x.CronSchedule" Title="Cron Schedule" />
                        </Columns>
                    </MudDataGrid>
                </ChildRowContent>
            </MudDataGrid>
        </div>
    </div>
</div>
